<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>
        HelpCar
    </title>
    <meta charset="UTF-8" />
    <!--Link Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!--Link Font-Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <!--Link Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!--Link Meu-CSS-->
    <link rel="stylesheet" href="static/css/HomeHelpCar.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto ml-5">
                    <li class="nav-item ">
                        <a class="nav-link " href="#">Sobre <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Quem Somos <span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="#">Contatos <span class="sr-only"></span></a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-success mr-2 my-3 my-sm-0" type="submit">Cadastre-se</button>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="container marketing">
            <br />
            <br />
            <br />
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Sobre a <span class="text-muted">HelpCar</span></h2>
                    <p class="lead"> HelpCar busca agilizar e facilitar o seu dia a dia com seu carro, estamos
                        acostumados a ir em oficinas
                        para manutenção e reparos e nos deparar com gigantes filas de espera para ser atendidos, isso
                        está
                        com dias contados !! A HelpCar vem para te ajudar a escolher o melhor prestador do serviço, mais
                        próximo de você e o mais importante disposto para te atender na HORA!! Não é incrivel ?? Você
                        poderá ser socorrido em qualquer hora e qualquer lugar, ficando fora de acostamento por horas a
                        espera de socorro!!! Faça seu cadastro já !! É simples, facil, rapido e de GRACHA!! Ops de
                        Graça!!!!</p>
                </div>
                <div class="col-md-5">
                    <img class="d-block w-100" src="Images/imagemSobre.jpg" alt="imagem1" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Quem é <span class="text-muted">HelpCar?</span></h2>
                    <p class="lead">HelpCar é uma empresa criada a partir de funcionários, desenvolvedores de softwares,
                        foi idealizada a partir de uma situação no cotidiano, a empresa busca sempre trazer a melhor
                        aplicação para seu usuário, tentando agilizar seu processo do cotidiano e resolver situações
                        constrangedoras. </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="d-block w-100" src="Images/imagemQueme.jpg" alt="imagem2" />
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Contatos <span class="text-muted">HelpCar</span></h2>
                    <p class="lead"></p>

                </div>
                <div class="col-md-5">
                    <iframe width="100%" height="300px"
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=-23.5544039,-46.662423&amp;q=Av.%20Ang%C3%A9lica%2C%202565%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001227-200+(Universidade%20S%C3%A3o%20Judas)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        <a href="https://www.maps.ie/map-my-route/">Draw map route</a>
                    </iframe>
                </div>
            </div>

            <hr class="featurette-divider">


        </div>

        <footer class="container">
            <p>&copy; 2020 HelpCar </p>
        </footer>
    </main>
</body>

</html>